<div class="menu-personal rounded-3 shadow">
    <div class="menu-personal__base-info pb-3 pt-5">
        <div class="user-info mx-3">
            <img src="../image/logo/logo.jpg" alt="avatar"
                 class="user-info__avatar rounded-3">
            <p class="fw-bold m-0">Chào, Phong</p>
            <span class="user-info__email">xyz123@gmail.com</span></div>

        <div class="menu-personal__items my-5">
            <div class="item px-3 py-2">
                <span class="me-3"><i class="fa-solid fa-user"></i></span><span>Thông tin cá nhân</span>
            </div>
            <div class="item px-3 py-2 active">
                <span class="me-3"><i class="fa-solid fa-rectangle-vertical-history"></i></span><span>Lịch sử mua hàng</span>
            </div>
        </div>
    </div>
    <div class="my-2 d-flex justify-content-center align-self-end">
        <button class="btn bg-danger-subtle text-danger  px-5 py-2"><i
                class="fa-solid fa-right-from-bracket fa-rotate-180"></i></button>
    </div>
</div>
<script src="../js/info_account.js"></script>