<html lang="vi" th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
<div class="menu col-3 m-0 position-relative" style="z-index: 3; width: 25% !important;">
    <button class="button-show-menu border-0 bg-white pb-1">
        <span class="button-show-menu-icon"><i class="fa-solid fa-bars"></i></span>
        <span class="button-show-menu-title">Danh mục sản phẩm</span>
    </button>
    <div class="position-absolute menu-body">
        <ul class="menu-list list-unstyled">
            <li class="menu-item" th:each="category : ${session.categories}">
                <a th:href="@{/booth/__${category.id}__}" th:text="${category.name}"/>
            </li>
        </ul>
    </div>
</div>
</html>
