<html th:fragment="product(data)" lang="vi" xmlns:th="http://www.thymeleaf.org">
<div class="card product rounded-4">
    <a th:href="@{/detail/1}">
        <div class="card-img overflow-hidden rounded-bottom-0 rounded-4">
            <img th:src="@{/images/product/demo_product.webp}" class="card-img-top" alt="san_pham.png">
        </div>
        <div class="card-body text-center bg-white py-2">
            <div class="card-title m-0">
                <span class="d-inline-block text-white bg-danger rounded px-1">New</span>
                <h5 class="title d-inline-block text-secondary" th:value="${data}"></h5>
            </div>
            <div class="card-text">
                <span class="new-price text-primary fw-bold">150000</span>
                <del class="old-price text-body-tertiary fw-bold">200000</del>
            </div>
        </div>
        <div class="card-footer border-0 bg-white d-flex justify-content-between rounded-4">
            <div class="align-content-center">
                <span class="tag bg-warning fs-6 d-inline-block text-white rounded ps-1 pe-3">-20%</span>
            </div>
            <div>
                <a th:href="@{#}">
                    <button class="border-0 bg-primary p-2 rounded-circle text-white align-content-end">
                        <i class="fa-sharp fa-solid fa-eye"></i>
                    </button>
                </a>
                <a th:href="@{#}">
                    <button class="border-0 bg-danger p-2 rounded-circle text-white align-content-end">
                        <i class="fa-sharp fa-solid fa-cart-plus"></i>
                    </button>
                </a>
            </div>
        </div>
    </a>
</div>
</html>