<html th:fragment="see_more" lang="vi" xmlns:th="http://www.thymeleaf.org">
<div class="position-fixed top-50 start-50 z-1" style="transform: translate(-50%, -50%); width: 60%">
    <div class="d-flex gap-2">
        <div class="bg-white p-2 d-flex rounded rounded-2 gap-5" style="width: 145%">
            <div class="left overflow-hidden" style="flex: 1; width: 200px">
                <div id="carousel-product" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner rounded rounded-1">
                        <div th:each="urlImg : ${data.productImageDTOS}" class="carousel-item product-image">
                            <img class=" w-100"
                                 th:src="@{__${urlImg.getUrl()}__}" alt="product">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-product"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-product"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="right" style="flex: 1.5;">
                <input name="id" type="number" th:value="${data.id}" hidden>
                <div class="fs-2" th:text="${data.name}"></div>
                <div th:if="${data.discountPercent} != null and ${data.discountPercent} != 0.0"
                     class="price d-flex justify-content-between px-4 py-3 rounded-2"
                     style="background-color: #b7b7b7">
                    <div class="d-flex align-items-center gap-1">
                         <span class="current-price fs-1 text-primary fw-bold"
                               th:text="${#numbers.formatCurrency(data.price - data.discountPercent * data.price)}"/>
                        <del class="old-price fs-5"
                             th:text="${#numbers.formatCurrency(data.price)}"/>
                    </div>

                    <div class="discount position-relative"
                         style="width: 90px; height: 90px">
                        <img src="https://theme.hstatic.net/1000230347/1000729967/14/icon-product-discount_large.png"
                             alt="logo" class="w-100 h-100">
                        <div class="position-absolute top-50 start-50 text-white d-flex align-items-center flex-column"
                             style="transform: translate(-50%, -50%); font-size: 15px">
                            <p class="m-0 text-nowrap">Tiết kiệm</p>
                            <span class="fw-bold"
                                  th:text="'-'+ ${T(java.lang.Math).round(data.discountPercent * 100)} +'%'"/>
                        </div>
                    </div>
                </div>

                <div th:if="${data.discountPercent} == null or ${data.discountPercent} == 0.0"
                     class="price d-flex justify-content-start px-4 py-3 rounded-2"
                     style="background-color: #b7b7b7">
                      <span class="current-price fs-2 text-primary fw-bold"
                            th:text="${#numbers.formatCurrency(data.price)}"/>
                </div>

                <div class="d-flex gap-2 my-1">
                    <label th:if="${data.getProductOptionDTOS() != null}"
                           th:each="option: ${data.getProductOptionDTOS()}"
                           class="rounded-2 p-2 border border-secondary border-1 product-option"
                           th:title="${option.name}"
                           th:data-quantity="${option.quantity}"
                           th:for="'option-' + ${option.id}">
                        <input type="radio" name="product-option" th:value="${option.id}"
                               th:data-quantity="${option.quantity}"
                               hidden
                               th:id="'option-' + ${option.id}">
                        <span th:text="${option.name}"/>
                    </label>
                </div>

                <div class="d-flex my-3 justify-content-center">
                    <div class="input-group w-25">
                        <span class="input-group-text bg-secondary border-secondary" id="decrease">-</span>
                        <input id="quantity" type="number" class="form-control text-center m-0 border-secondary"
                               style="outline: none; box-shadow: none;"
                               name="quantity"
                               disabled
                               value="1" aria-label="quantity"
                               aria-describedby="basic-addon1">
                        <span class="input-group-text bg-secondary border-secondary" id="increase">+</span>
                    </div>
                </div>

                <div th:if="${data.getProductOptionDTOS() != null and !#lists.isEmpty(data.getProductOptionDTOS())}"
                     class="right-bottom d-flex fs-6  gap-2 mt-3" id="button-see-more">
                    <button class="button-add-to-cart text-primary py-3 fw-bold  border-1 border-primary bg-white rounded"
                            style="flex: 1">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="ps-3">Thêm vào giỏ hàng</span>
                    </button>
                    <button class="text-white py-3 fw-bold border-0 bg-primary border-primary rounded"
                            style="flex: 1">
                        <span>Mua ngay</span>
                    </button>
                </div>
            </div>
        </div>
        <button id="button-hidden-see-more" type="submit" style="width: 60px; height: 45px;"
                class="bg-white border-secondary border-1 rounded-circle px-2">X
        </button>
    </div>

</div>

<script th:src="@{/js/see_more.js}"></script>
</html>