<div class="voucher position-relative">
    <div class="voucher-body d-flex bg-white ">
        <div class="voucher-left d-flex p-2 justify-content-center align-items-center">
            <div class="h-100 w-100 p-3 bg-primary rounded-circle d-flex justify-content-center align-items-center">
                <i class="fa-duotone fa-book-open-cover fs-1 text-white"></i>
            </div>
        </div>
        <div class="voucher-right d-flex flex-column justify-content-between rounded-5 p-2">
            <div class="d-flex justify-content-between">
                <span class="voucher-name fw-bold">Giảm 50.000đ</span>
                <button class="voucher-button-show-condition border-1 bg-white rounded-4">Điều kiện</button>
            </div>
            <p class="voucher-condition-minimum m-0">Đơn hàng từ 1.200.00đ</p>
            <p class="m-0">Mã: <span class="voucher-id fw-bold">0424SALE200</span></p>
            <div class="d-flex justify-content-between align-items-center">
                <span class="voucher-expires">30/04/2024</span>
                <button class="voucher-button-copy-id border-0 py-1 px-2 rounded-3 text-white bg-primary">
                    Sao chép mã
                </button>
            </div>
        </div>
    </div>

    <div class="voucher-describe position-absolute">
        <div class="row justify-content-center">
            <div class="voucher-describe-arrow"></div>
        </div>
        <div class="voucher-describe-body w-100">
            <div class="row px-3">
                <div class="col-5 p-0 text-secondary">Mã</div>
                <div class="col-7 p-0 voucher-id fw-bold">0424SALE200</div>
            </div>
            <div class="row px-3">
                <div class="col-5 p-0 text-secondary">Hạn sử dụng</div>
                <div class="col-7 p-0 voucher-expires fw-bold">30/04/2024</div>
            </div>
            <div class="row mx-3 mt-2">
                <ul class="voucher-condition-detail col-12 p-0">
                    <li>Áp dụng nhóm sản phẩm Không gồm hàng phân phối ngoài và Flash Sale</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="../js/voucher.js"></script>