<div class="frame_sale_product rounded-2 bg-primary pb-3">
    <div class="frame_sale_product_thumbnail">
        <img class="w-100 rounded-2" src="../image/banner/banner_sale.webp"
             alt="banner">
    </div>
    <div class="frame_sale_product_menu row m-0">
        <div class="col-4 menu-item active  d-flex flex-column align-items-center">
            <div class=" fs-2">
                <span>🎁</span>
                <span class="range-time text-white fw-medium">08:00 - 12:00</span>
                <span>🎁</span>
            </div>
            <div class="time-count-down d-flex text-white fw-medium fs-5">
                <div class="day bg-black rounded-2 py-1">00</div>
                <div class="hour bg-black rounded-2 py-1">00</div>
                <div class="minute bg-black rounded-2 py-1">00</div>
                <div class="second bg-black rounded-2 py-1">00</div>
            </div>
        </div>
        <div class="col-4 menu-item d-flex flex-column align-items-center">
            <div class=" fs-2">
                <span>🎁</span>
                <span class="range-time text-white fw-medium">12:00 - 17:00</span>
                <span>🎁</span>
            </div>
            <div class="coming-soon text-white fw-medium fs-3">
                Sắp Diễn Ra
            </div>
        </div>
        <div class="col-4 menu-item d-flex flex-column align-items-center">
            <div class=" fs-2">
                <span>🎁</span>
                <span class="range-time text-white fw-medium">17:00 - 21:00</span>
                <span>🎁</span>
            </div>
            <div class="coming-soon text-white fw-medium fs-3">
                Sắp Diễn Ra
            </div>
        </div>
    </div>
    <div class="frame_sale_product_body mt-3 px-3 d-flex justify-content-between">
        <div class="card product rounded-4">
            <div class="card-img overflow-hidden rounded-bottom-0 rounded-4">
                <img src="../image/product/demo_product.webp" class="card-img-top" alt="san_pham.png">
            </div>
            <div class="card-body text-center bg-white py-2">
                <div class="card-title m-0">
                    <span class="d-inline-block text-white bg-danger rounded px-1">New</span>
                    <h5 class="title d-inline-block text-secondary">Hello world</h5>
                </div>
                <div class="card-text">
                    <span class="new-price text-primary fw-bold">150000</span>
                    <del class="old-price text-body-tertiary fw-bold">200000</del>
                </div>
            </div>
            <div class="card-footer border-0 bg-white d-flex justify-content-between rounded-4">
                <div class="align-content-center">
                    <span class="tag bg-warning fs-6 d-inline-block text-white rounded ps-1 pe-3">-20%</span>
                </div>
                <div>
                    <button class="border-0 bg-primary p-2 rounded-circle text-white align-content-end">
                        <i class="fa-sharp fa-solid fa-eye"></i>
                    </button>
                    <button class="border-0 bg-danger p-2 rounded-circle text-white align-content-end">
                        <i class="fa-sharp fa-solid fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card product rounded-4">
            <div class="card-img overflow-hidden rounded-bottom-0 rounded-4">
                <img src="../image/product/demo_product.webp" class="card-img-top" alt="san_pham.png">
            </div>
            <div class="card-body text-center bg-white py-2">
                <div class="card-title m-0">
                    <span class="d-inline-block text-white bg-danger rounded px-1">New</span>
                    <h5 class="title d-inline-block text-secondary">Hello world</h5>
                </div>
                <div class="card-text">
                    <span class="new-price text-primary fw-bold">150000</span>
                    <del class="old-price text-body-tertiary fw-bold">200000</del>
                </div>
            </div>
            <div class="card-footer border-0 bg-white d-flex justify-content-between rounded-4">
                <div class="align-content-center">
                    <span class="tag bg-warning fs-6 d-inline-block text-white rounded ps-1 pe-3">-20%</span>
                </div>
                <div>
                    <button class="border-0 bg-primary p-2 rounded-circle text-white align-content-end">
                        <i class="fa-sharp fa-solid fa-eye"></i>
                    </button>
                    <button class="border-0 bg-danger p-2 rounded-circle text-white align-content-end">
                        <i class="fa-sharp fa-solid fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card product rounded-4">
            <div class="card-img overflow-hidden rounded-bottom-0 rounded-4">
                <img src="../image/product/demo_product.webp" class="card-img-top" alt="san_pham.png">
            </div>
            <div class="card-body text-center bg-white py-2">
                <div class="card-title m-0">
                    <span class="d-inline-block text-white bg-danger rounded px-1">New</span>
                    <h5 class="title d-inline-block text-secondary">Hello world</h5>
                </div>
                <div class="card-text">
                    <span class="new-price text-primary fw-bold">150000</span>
                    <del class="old-price text-body-tertiary fw-bold">200000</del>
                </div>
            </div>
            <div class="card-footer border-0 bg-white d-flex justify-content-between rounded-4">
                <div class="align-content-center">
                    <span class="tag bg-warning fs-6 d-inline-block text-white rounded ps-1 pe-3">-20%</span>
                </div>
                <div>
                    <button class="border-0 bg-primary p-2 rounded-circle text-white align-content-end">
                        <i class="fa-sharp fa-solid fa-eye"></i>
                    </button>
                    <button class="border-0 bg-danger p-2 rounded-circle text-white align-content-end">
                        <i class="fa-sharp fa-solid fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card product rounded-4">
            <div class="card-img overflow-hidden rounded-bottom-0 rounded-4">
                <img src="../image/product/demo_product.webp" class="card-img-top" alt="san_pham.png">
            </div>
            <div class="card-body text-center bg-white py-2">
                <div class="card-title m-0">
                    <span class="d-inline-block text-white bg-danger rounded px-1">New</span>
                    <h5 class="title d-inline-block text-secondary">Hello world</h5>
                </div>
                <div class="card-text">
                    <span class="new-price text-primary fw-bold">150000</span>
                    <del class="old-price text-body-tertiary fw-bold">200000</del>
                </div>
            </div>
            <div class="card-footer border-0 bg-white d-flex justify-content-between rounded-4">
                <div class="align-content-center">
                    <span class="tag bg-warning fs-6 d-inline-block text-white rounded ps-1 pe-3">-20%</span>
                </div>
                <div>
                    <button class="border-0 bg-primary p-2 rounded-circle text-white align-content-end">
                        <i class="fa-sharp fa-solid fa-eye"></i>
                    </button>
                    <button class="border-0 bg-danger p-2 rounded-circle text-white align-content-end">
                        <i class="fa-sharp fa-solid fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/frame_sale_product.js"></script>