<html th:fragment="form" lang="vi" xmlns:th="http://www.thymeleaf.org">
<div class="sign-in p-5 rounded-4">
    <div class="title fs-1 text-white text-center pb-3 fw-bold">Đăng nhập</div>
    <form id="sign-in-form">
        <div class="mb-3">
            <label for="email" class="form-label fw-bold">
                <span class="text-white">Email </span>
                <span class="text-danger">*</span>
            </label>
            <input type="email" name="email" class="form-control p-2" id="email" aria-describedby="emailHelp"
                   placeholder="Email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label fw-bold">
                <span class="text-white">Password </span>
                <span class="text-danger">*</span>
            </label>
            <input required type="password" name="password"
                   class="form-control p-2" id="password" placeholder="Password">
        </div>
        <div class="mb-3 fs-5 text-center my-4">
            <span class="text-white fw-medium">Quên mật khẩu? Nhấn vào </span>
            <a th:href="@{forget-password.html}" class="fw-bold text-warning text-decoration-none">đây</a>
        </div>
        <button type="submit"
                class="btn btn-primary border-0 fw-medium text-black py-2 bg-warning border w-100 fs-4">
            Đăng nhập
        </button>
    </form>
    <div class="fs-5 text-center my-4">
        <span class="text-white fw-medium">Bạn chưa có tài khoản</span>
        <a th:href="@{sign-up.html}" class="text-warning text-decoration-none fw-bold">Đăng ký tại đây</a>
    </div>
    <div th:replace="fragments/other_login_fragment::other_login"></div>
</div>
</html>