<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>KIMI - Thanh toán đơn hàng</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css"
          rel="stylesheet">
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" href="css/list_of_vouchers.css">
    <link rel="stylesheet" href="css/checkout_ship_info.css">
    <link rel="stylesheet" href="css/display_info_payments.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0"/>
</head>
<body>
<main>
    <div class="row ">
        <div class="col-1"></div>
        <div class="ship_info_frame justify-content-center col-6 px-4 py-2">
            <div class="head px-3">
                <a href="#">
                    <div class="logo d-flex align-items-center my-0">
                        <img src="image/logo/logo.jpg" alt="logo" class="logo__image object-fit-cover">
                        <div class="logo_title ">
                            <span class="logo__title text-uppercase fw-bold fs-1">Kimi</span>
                            <p class="logo_title__slogan fst-italic fs-4">Vũ trụ văn phòng phẩm</p>
                        </div>
                    </div>
                </a>


                <div class="process-step">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb text-black">
                            <li class="breadcrumb-item"><a href="#">Giỏ hàng</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Thông tin giao hàng</li>
                            <li class="breadcrumb-item"><a href="#">Phương thức thanh toán</a></li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="content mx-3 py-3">
                <h5 class="py-2">Thông tin giao hàng</h5>
                <div class="info_user_frame d-flex align-items-center">
                    <div class="info_user"><img src="image/logo/logo.jpg" alt="user image"
                                                class="user_image object-fit-cover"></div>
                    <div class="info_user_text">
                        <p class="name_and_email text-body-secondary">KarKaTo (giotrang1401@gmail.com)</p>
                        <a href="" class="logout">Đăng xuất</a>
                    </div>
                </div>

                <form action="" class="form-address row g-2">
                    <div class="saved_address form-floating position-relative p-0">
                        <select name="" id="add-new-address" class="form-control chosen-select  rounded-0" aria-label="">
                            <option value="" data-properties="" selected>hahahaha</option>
                            <option value="" data-properties="">heheh</option>
                        </select>
                        <label for="add-new-address">Thêm địa chỉ mới...</label>
                        <span class="select-arrow"></span>
                    </div>

                    <div class="name form-floating p-0">
                        <input type="text" id="recipient-name" class="form-control form-control-sm rounded-0"
                                                           placeholder="Họ và tên">
                        <label for="recipient-name">Họ và tên</label>
                    </div>

                    <div class="phone-number form-floating p-0">
                        <input type="text" id="phone-number" class="form-control form-control-sm rounded-0"
                                                                   placeholder="Số điện thoại">
                        <label for="phone-number">Số điện thoại</label>
                    </div>

                    <div class="address form-floating p-0">
                        <input type="text" id="address" class="form-control rounded-0 form-control-sm"
                                                              placeholder="Địa chỉ">
                        <label for="address">Địa chỉ</label>
                    </div>

                    <div class="input-group d-flex justify-content-between m-0 p-0 mt-2">
                        <div class="form-floating  position-relative">
                            <select id="province" name="province" class="col province form-control form-control-sm rounded-0">
                                <option selected disabled>Tỉnh / thành</option>
                                <option value=""></option>
                                <option value="" ></option>
                            </select>
                            <label for="province">Tỉnh / thành</label>
                            <span class="select-arrow"></span>
                        </div>
                        <div class="form-floating mx-3 position-relative">
                            <select id="district" name="district" class="col district form-control form-control-sm rounded-0">
                                <option selected disabled>Tỉnh / thành</option>
                                <option value=""></option>
                                <option value="" ></option>
                            </select>
                            <label for="district">Huyện / quận</label>
                            <span class="select-arrow"></span>
                        </div>
                        <div class="form-floating position-relative">
                            <select id="ward" name="ward" class="col ward form-control form-control-sm rounded-0">
                                <option selected disabled>Tỉnh / thành</option>
                                <option value=""></option>
                                <option value="" ></option>
                            </select>
                            <label for="ward">Xã / phường</label>
                            <span class="select-arrow"></span>
                        </div>
                    </div>
                    <div class="go-to-payment d-flex justify-content-between my-3">
                        <a href="#" class="go-to-cart">Giỏ hàng</a>
                        <button type="submit" class="btn btn-primary rounded-0">Tiếp tục đến phương thức thanh toán</button>
                    </div>
                </form>
            </div>
            <div class="foot mx-3 border-top border-dark-subtle border-1 text-center"> Powered by Kimi</div>
        </div>

        <div class="payment_frame col-4 border-dark-subtle border-start border-1">
        </div>
        <div class="right-payment col-1"></div>
    </div>
</main>
<script type="text/javascript" src="js/list_of_vouchers.js"></script>
<script type="text/javascript" src="js/display_info_payments.js"></script>
<script type="text/javascript" src="js/checkout_ship_info.js"></script>
</body>
</html>