<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Quên mật khẩu</title>
    <link rel="stylesheet" href="css/sign.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/fontawesome.js" crossorigin="anonymous"></script>
    <script src="js/jquery.js"></script>
    <link rel="stylesheet" href="css/frame_sale_product.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0"/>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>
    <header></header>
    <main>
        <div class="container" id="form"></div>
    </main>
    <footer></footer>

</body>
<script>
    $('header').load("layout/header.html")
    $('#form').load("layout/forget_password.html")
    $('footer').load("layout/footer.html")
</script>
</html>