<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>

    <link rel="icon" th:href="@{/images/logo/logo.jpg}">

    <link rel="stylesheet" th:href="@{/css/product-detail.css}">
    <link rel="stylesheet" th:href="@{/css/product.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/fontawesome.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="${'https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css'}">
    <script type="text/javascript" th:src="${'https://cdn.jsdelivr.net/npm/toastify-js'}"></script>
</head>
<body>
<header>
    <div th:replace="fragments/header_fragment::header"></div>
</header>
<main class="container mt-4 main-color_product">
    <div class="row">
        <section class="product-container my-2 d-flex bg-light">
            <div class="product-detail-left col-xl-4 pe-5 col-xs-12 col-sm-12 col-md-8">
                <div class="product-wrap-sticky">
                    <div class="image-product-item pb-3 pt-0 ">
                        <img style="width: 385px; height: 385px" th:src="@{__${productDetail.productImageDTOS.get(0).url}__}" id="large-product-image"
                             alt="Bút bi Thiên Long"
                             class="img-fluid">
                    </div>
                    <div class="product-image-list">
                        <div class="product-image-item" th:each="productImage: ${productDetail.productImageDTOS}">
                            <img th:src="@{__${productImage.url}__}" alt="Bút bi Thiên Long"
                                 class="img-product-s">
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-detail-right col-xl-8 col-xs-12 col-sm-12">
                <h1 class="fw-light" th:text="${productDetail.name}"/>
                <div class="row">
                    <div class="col-12 col-md-8">
                        <p class="fw-medium">Thương hiệu: <span class="text-primary pe-2" th:text="${productDetail.brand}"/>|
                            Tình trạng: <span class="text-primary">Còn hàng</span></p>
                        <p class="fw-medium">Mã sản phẩm: <span class="text-primary" th:text="'#' + ${productDetail.id}"/></p>
                        <div class="product-price">
                            <div class="row"
                                 th:if="${productDetail.discountPercent != null and productDetail.discountPercent != 0.0}">
                                <div class="col-9 d-flex gap-2 align-items-center">
                                    <span class="fs-2 text-primary fw-medium fw-bold"
                                          th:text="${#numbers.formatCurrency(productDetail.price * (1 - productDetail.discountPercent))}"/>
                                    <del class="f2-3 text-body-tertiary fw-medium"
                                         th:text="${#numbers.formatCurrency(productDetail.price)}"/>
                                </div>
                                <div class="col-3">
                                    <div class="product-discount d-flex justify-content-center align-items-center">
                                        <div>
                                            <span>Tiết kiệm </span>
                                            <strong th:text="${#numbers.formatInteger(productDetail.discountPercent * 100, 0)} + '%'"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row " style="width: 68px"
                                 th:unless="${productDetail.discountPercent != null and productDetail.discountPercent != 0.0}">
                                <div class="col-12 d-flex gap-2 align-items-center">
                                    <span class="fs-2 text-primary fw-medium"
                                          th:text="${#numbers.formatCurrency(productDetail.price)}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-product">
                            <input type="text" hidden name="productId" th:value="${productDetail.id}">
                            <div class="product-classify">
                                <label for="product-classify" class="form-label">Phân loại</label>
                                <select name="productOptionId" class="form-select" id="product-classify">
                                    <option selected disabled>Chọn loại màu sắc</option>
                                    <option th:each="option: ${productDetail.productOptionDTOS}"
                                            th:data-max-quantity="${option.quantity}"
                                            th:value="${option.id}"
                                            th:text="${option.name}">
                                </select>
                            </div>
                            <div class="form-button">
                                <div class="product-amount">
                                    <label>Số lượng</label>
                                    <div class="pt-2 d-flex w-25 ">
                                        <button class="decrease-quantity btn btn-primary rounded-1 rounded-end-0">
                                            -
                                        </button>
                                        <input disabled th:data-max-quantity="0" type="text" name="quantity"
                                               class="quantity text-center w-50" value="1">
                                        <button class="increase-quantity btn btn-primary rounded-1 rounded-start-0">
                                            +
                                        </button>
                                    </div>
                                </div>
                                <div class="product-cart_button d-flex pt-3">
                                    <button class="btn-add-cart btn btn-primary w-50 p-2 me-2">
                                        <span>Thêm vào giỏ hàng</span>
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </button>
                                    <button class="btn btn-warning w-50 p-2">Mua ngay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="promolist-note">
                            <div class="fs-5 p-2">
                                <a href="#"><i class="fs-4 fa-solid fa-truck"></i></a>
                                <span class="ps-3 fw-light text-primary">Giao hàng toàn quốc</span>
                            </div>
                            <div class="fs-5 p-2">
                                <a href=""><i class="fs-4 fa-regular fa-star"></i></a>
                                <span class="ps-3 fw-light text-primary">Sản phẩm chính hãng</span>
                            </div>
                            <div class="fs-5 p-2">
                                <a href=""><i class="fs-4 fa-solid fa-gift"></i></a>
                                <span class="ps-3 fw-light text-primary">Tích điểm đổi quà</span>
                            </div>
                            <div class="fs-5 p-2">
                                <a href=""><i class="fs-4 fa-solid fa-ticket"></i></a>
                                <span class="ps-3 fw-light text-primary">voucher ưu đãi</span>
                            </div>
                        </div>
                        <div class="product-vouchers">
                            <div class="product-vouchers-item">
                                <div class="vouchers-item-left">
                                    <div class="voucher-items-icon"><a href=""><i class="fa-solid fa-ticket"></i></a>
                                    </div>
                                </div>
                                <div class="vouchers-item-right fs-6">
                                    <div class="voucher-items-title fw-bold">Giảm 10%</div>
                                    <div class="voucher-items-content">Đơn hàng từ 100,000đ</div>
                                    <div class="voucher-items-code fw-bold">EST1940948</div>
                                    <div class="voucher-items-date">30/04/2024
                                        <button class="btn-copy border-0 py-1 px-2 rounded-2 text-white bg-primary ps-1 float-end">
                                            Copy
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-vouchers-item">
                                <div class="vouchers-item-left">
                                    <div class="voucher-items-icon"><a href=""><i class="fa-solid fa-ticket"></i></a>
                                    </div>
                                </div>
                                <div class="vouchers-item-right fs-6">
                                    <div class="voucher-items-title fw-bold">Giảm 20%</div>
                                    <div class="voucher-items-content">Đơn hàng từ 500,000đ</div>
                                    <div class="voucher-items-code fw-bold">ASK909213</div>
                                    <div class="voucher-items-date">30/04/2024
                                        <button class="btn-copy border-0 py-1 px-2 rounded-2 text-white bg-primary ps-1 float-end">
                                            Copy
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-vouchers-item">
                                <div class="vouchers-item-left">
                                    <div class="voucher-items-icon"><a href=""><i class="fa-solid fa-ticket"></i></a>
                                    </div>
                                </div>
                                <div class="vouchers-item-right fs-6">
                                    <div class="voucher-items-title fw-bold">Giảm 30%</div>
                                    <div class="voucher-items-content">Đơn hàng từ 1,000,000đ</div>
                                    <div class="voucher-items-code fw-bold">WKN109213</div>
                                    <div class="voucher-items-date">01/04/2024
                                        <button class="btn-copy border-0 py-1 px-2 rounded-2 text-white bg-primary ps-1 float-end">
                                            Copy
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product-container my-2 bg-light">
            <h5 class="fw-bold py-3 px-2">Sản phẩm cùng loại</h5>
            <div class="container d-flex gap-1" id="productItemList">
                <product class="same-category-product"></product>
                <product class="same-category-product"></product>
                <product class="same-category-product"></product>
                <product class="same-category-product"></product>
                <product class="same-category-product"></product>
            </div>
        </section>
        <section class="product-container my-2 bg-light">
            <h5 class="fw-bold px-2 py-2">Mô tả sản phẩm</h5>
            <div class="rte product_getcontent py-3 pos-relative">
                <div id="content" class="">
                    <div th:text="${productDetail.description}"/>
                </div>
                <div class="text-center">
                    <button id="btn-show-hidden" class="btn border border-primary">
                        Xem thêm
                    </button>
                </div>
            </div>
        </section>
        <section class="product-container my-2 bg-light">
            <h5 class="fw-bold px-2">Đánh giá sản phẩm</h5>
            <div class="product-comment">
                <div class="product-comment-form ">
                    <div class="product-comment-figure d-flex flex-column align-items-center">
                        <div class="comment-line-figure fs-3">
                            <strong class="fs-3 text-primary">5.0</strong>
                            <span class="fs-3">/</span>
                            <span class="fs-4">5</span>
                        </div>
                        <div class="text-center d-flex fs-2">
                            <div class="product-comment-star text-secondary fs-3">
                                <span class="fa-solid fa-star"></span>
                                <span class="fa-solid fa-star"></span>
                                <span class="fa-solid fa-star"></span>
                                <span class="fa-solid fa-star"></span>
                                <span class="fa-solid fa-star"></span>
                            </div>
                        </div>
                        <div class="product-comment-count fs-5">
                            <span>1 đánh giá</span>
                        </div>
                    </div>
                    <div class="product-comment-details m-4 d-flex">
                        <div class="product-comment-details-item d-flex">
                            <div class="comment-details-title me-1">5 sao</div>
                            (
                            <span class="product-comment-details-item-count">1</span> )
                        </div>
                        <div class="product-comment-details-item d-flex">
                            <div class="comment-details-title me-1">4 sao</div>
                            (
                            <span class="product-comment-details-item-count">0</span> )
                        </div>
                        <div class="product-comment-details-item d-flex">
                            <div class="comment-details-title me-1">3 sao</div>
                            (
                            <span class="product-comment-details-item-count">0</span> )
                        </div>
                        <div class="product-comment-details-item d-flex">
                            <div class="comment-details-title me-1">2 sao</div>
                            (
                            <span class="product-comment-details-item-count">0</span> )
                        </div>
                        <div class="product-comment-details-item d-flex">
                            <div class="comment-details-title me-1">1 sao</div>
                            (
                            <span class="product-comment-details-item-count">0</span> )
                        </div>

                        <!--                        </div>-->
                    </div>
                    <button class="btn btn-primary" id="review-submit-btn" data-bs-toggle="modal" href="#review-modal"
                            role="button">Viết đánh giá
                    </button>
                </div>
            </div>
            <div class="comment-user">
                <ul class="p-0 list-comment-user">
                    <li class="item-comment-user">
                        <span class="fa-solid fa-star review-star-active"></span>
                        <span class="fa-solid fa-star review-star-active"></span>
                        <span class="fa-solid fa-star review-star-active"></span>
                        <span class="fa-solid fa-star review-star-active"></span>
                        <span class="fa-solid fa-star review-star-active"></span>
                    </li>
                    <li item-comment-date>30/04/2024</li>
                </ul>
                <div class="comment-name-user">BichPhuong</div>
                <div class="comment-content-user">Sản phẩm rất tốt, tôi rất hài lòng với sản phẩm này</div>
            </div>
            <div class="modal fade" id="review-modal" aria-hidden="true" aria-labelledby="review-modal"
                 tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="review-modal-label"> Đánh giá sản phẩm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="p-1 rounded border-1 col-4">
                                    <div class="w-100">
                                        <img th:src="@{/images/product/demo_product.webp}" alt="Bút bi Thiên Long"
                                             class="rounded img-fluid">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <form method="post" name="review_form">
                                        <div>
                                            <h2>Bút bi Thiên Long</h2>
                                        </div>
                                        <div class="p-2 d-flex flex-row align-items-center justify-content-md-between">
                                            <h5 class="text-danger m-0">Mức độ đánh giá(*)</h5>
                                            <div class="d-flex flex-row">
                                                <div>
                                                    <input class="d-none" type="radio" name="rating" id="rating-1"
                                                           value="1">
                                                    <label class="review-star rounded p-2" id="star-1" for="rating-1"><i
                                                            class="fa-solid fa-star fs-4 text-secondary"></i></label>
                                                </div>

                                                <div>
                                                    <input class="d-none" type="radio" name="rating" id="rating-2"
                                                           value="2">
                                                    <label class="review-star rounded p-2" id="star-2" for="rating-2"><i
                                                            class="fa-solid fa-star fs-4 text-secondary"></i></label>
                                                </div>

                                                <div>
                                                    <input class="d-none" type="radio" name="rating" id="rating-3"
                                                           value="3">
                                                    <label class="review-star rounded p-2" id="star-3" for="rating-3"><i
                                                            class="fa-solid fa-star fs-4 text-secondary"></i></label>
                                                </div>

                                                <div>
                                                    <input class="d-none" type="radio" name="rating" id="rating-4"
                                                           value="4">
                                                    <label class="review-star rounded p-2" id="star-4" for="rating-3"><i
                                                            class="fa-solid fa-star fs-4 text-secondary"></i></label>
                                                </div>

                                                <div>
                                                    <input class="d-none" type="radio" name="rating" id="rating-5"
                                                           value="5">
                                                    <label class="review-star rounded p-2" id="star-5" for="rating-3"><i
                                                            class="fa-solid fa-star fs-4 text-secondary"></i></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="p-2 border-top">
                                            <label for="comment"><h5>Nội dung đánh giá (*)</h5></label>
                                            <textarea class="form-control mt-2" name="comment" id="comment" cols="30"
                                                      rows="10"></textarea>
                                        </div>

                                        <div class="p-2 border-top mt-2 d-flex flex-row justify-content-center">
                                            <input type="submit" class="btn btn-primary" value="Gửi đánh giá">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</main>
<footer>
    <div th:replace="fragments/footer_fragment::foother"></div>
</footer>
<script th:src="@{/js/menu.js}"></script>
<script>
    $(document).ready(function () {
        const reviewStars = $('.review-star');
        const btnDecreaseQuantity = $(".decrease-quantity");
        const btnIncreaseQuantity = $(".increase-quantity");
        const inputQuantity = $("input.quantity");
        const selectOption = $("#product-classify");
        const btnAddCart = $(".btn-add-cart")
        let selectedItem = null;
        let items = $('.product-image-item');
        let productImage = $('#large-product-image');
        let content = $('content');
        let pElements = $('.product_getcontent').find("p");
        let button = $('#btn-show-hidden');

        items.each(function (index, item) {
            $(item).on('click', function () {
                if (selectedItem != null) {
                    selectedItem.style.border = 'none';
                }
                item.style.border = '1px solid #000';
                selectedItem = item;

                const selectedItemImage = selectedItem.children[0];
                productImage.attr("src", selectedItemImage.src);
            });
        });

        for (let i = 0; i < pElements.length; i++) {
            pElements.eq(i).hide();
        }

        // Add event listener to the "show more/less" button
        button.on('click', function () {
            let i;
            if (button.text() === 'Xem thêm') {
                // Show all <p> elements
                for (i = 0; i < pElements.length; i++) {
                    pElements.eq(i).show();
                }
                button.text('Thu gọn');
            } else {
                // Hide all <p> elements except the first one
                for (i = 1; i < pElements.length; i++) {
                    pElements.eq(i).hide();
                }
                button.text('Xem thêm');
            }
        });

        // reviewStars.on('mouseenter', function () {
        //     let currentStarId = $(this).attr('id') //star-1
        //     let currentStarNumber = currentStarId.split('-')[1]; //['star', '1']
        //
        //     for (let reviewStar of reviewStars) {
        //         let reviewStarId = $(reviewStar).attr('id')
        //         let reviewStarNumber = reviewStarId.split('-')[1];
        //
        //         if (reviewStarNumber < currentStarNumber) {
        //             $(reviewStar).addClass('review-star-active')
        //         }
        //     }
        //
        //     $(this).addClass('review-star-active');
        //     console.log($(this).attr('class'))
        // })
        //
        // reviewStars.on('mouseleave', function () {
        //     for (let reviewStar of reviewStars)
        //         $(reviewStar).removeClass('review-star-active');
        // })
        reviewStars.on('click', function () {
            for (let reviewStar of reviewStars)
                $(reviewStar).removeClass('review-star-active');

            let currentStarId = $(this).attr('id') //star-1
            let currentStarNumber = currentStarId.split('-')[1]; //['star', '1']

            for (let reviewStar of reviewStars) {
                let reviewStarId = $(reviewStar).attr('id')
                let reviewStarNumber = reviewStarId.split('-')[1];

                if (reviewStarNumber <= currentStarNumber) {
                    $(reviewStar).addClass('review-star-active')
                }
            }
        })

        selectOption.on("change", function () {
            const maxQuantity = $(this).find(':selected').data('max-quantity');
            inputQuantity.data('max-quantity', maxQuantity);
            inputQuantity.val(1)
        });

        btnDecreaseQuantity.on("click", function () {
            if (parseInt((inputQuantity.val())) > 1)
                inputQuantity.val(parseInt(inputQuantity.val()) - 1);
        });

        btnIncreaseQuantity.on("click", function () {
            const max = inputQuantity.data("max-quantity");
            if (!max) alert("Vui lòng chọn phân loại sản phẩm");
            if (parseInt((inputQuantity.val())) < parseInt(max)) {
                inputQuantity.val(parseInt(inputQuantity.val()) + 1);
            }
        })

        btnAddCart.on("click", function () {
            const productId = $("input[name=productId]").val()
            const quantity = inputQuantity.val()
            const productOptionId = $("select[name=productOptionId]").val()
            if (!productOptionId) {
                alert("Vui lòng chọn phân loại sản phẩm")
                return
            }

            const data = JSON.stringify({
                productId: productId,
                quantity: quantity,
                productOptionId: productOptionId
            })
            $.ajax({
                data: data,
                url: "../api/cart/add",
                method: "POST",
                contentType: "application/json",
                success: (response) => {
                    console.log(response.data)
                    Toastify({
                        text: "Thêm vào giỏ hàng thành công!",
                        duration: 1000,
                        backgroundColor: "#4cea06"
                    }).showToast();

                    $(".cart-menu-amount").text(response.data)
                },
                error: (error) => {
                    console.log(error)
                    Toastify({
                        text: "Lỗi thêm vào giỏ hàng!",
                        duration: 1000,
                        backgroundColor: "#ea0606"
                    }).showToast();
                }
            })
        })
    })
</script>
</body>
</html>